In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('weight-height.csv')

In [ ]:
data.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [ ]:
data.describe()

             Height        Weight
count  10000.000000  10000.000000
mean      66.367560    161.440357
std        3.847528     32.108439
min       54.263133     64.700127
25%       63.505620    135.818051
50%       66.318070    161.212928
75%       69.174262    187.169525
max       78.998742    269.989699

In [ ]:
data.shape

(10000, 3)

In [ ]:
data['Gender'].replace('Female',0,inplace = True)
data['Gender'].replace('Male',1,inplace = True)

In [ ]:
data.head()

   Gender     Height      Weight
0       1  73.847017  241.893563
1       1  68.781904  162.310473
2       1  74.110105  212.740856
3       1  71.730978  220.042470
4       1  69.881796  206.349801

In [ ]:
data.tail()

      Gender     Height      Weight
9995       0  66.172652  136.777454
9996       0  67.067155  170.867906
9997       0  63.867992  128.475319
9998       0  69.034243  163.852461
9999       0  61.944246  113.649103

In [ ]:
x = data.iloc[:, :2].values
y = data.iloc[:,-1].values

In [ ]:
print(x)

[[ 1.         73.84701702]
 [ 1.         68.78190405]
 [ 1.         74.11010539]
 ...
 [ 0.         63.86799221]
 [ 0.         69.03424313]
 [ 0.         61.94424588]]

In [ ]:
print(y)

[241.89356318 162.31047252 212.74085556 ... 128.47531878 163.85246135
 113.64910268]

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size= 0.25, random_state = 0)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr = LinearRegression()

In [ ]:
lr.fit(x_train,y_train)

LinearRegression()

In [ ]:
lr_predict = lr.predict(x_test)

In [ ]:
score = lr.score(x,y)*100

In [ ]:
print(score)

90.27473671345682

In [ ]:
from sklearn import metrics

In [ ]:
root_mean_square = np.sqrt(metrics.mean_squared_error(y_test,lr_predict))

In [ ]:
print(root_mean_square)

10.119114034844689